#wrapper {
    width: 750px;
    margin-top: 50px;
    margin-left: 70px;
}

h1 {
    color: #888;
}

#content {
    float: left;
    width: 380px;
    background: #eee;
    padding: 10px;
}

#locations {
    float: right;
    width: 300px;
    background: #bbb;
    padding: 10px;

}
