* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin-top: 50px;
    margin-left: 70px;
}

#article {
    float: left;
    width: 600px;
    background: #eee;
    padding: 10px;
}

#locations {
    float: left;
    padding: 0 10px 10px 10px;
}


a {
    text-decoration: none;
}

h1 {
    color: #999;
}

#content {
    float: left;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 80px;
}

#content p  {
    line-height: 1.8;
    font-size: 13px;
}

.button {
    margin-top: 10px;
    border: none;
    display: inline;
    border-radius: 5px;
    background: #383838;
    padding: 5px;
    color: #eee;
}


ul li {
    list-style: none;
}

li {
    margin-bottom: 30px;
}

ul#menu {
    margin-top: 10px;
}

ul li a {
    display: inline;
    border-radius: 8px;
    background: #383838;
    padding: 12px;
    color: #eee;
}

ul.navigation li {
    margin-right: 5px;
}

ul.navigation {
    margin-bottom: 25px;
}

ul.navigation li {
    display: inline;
}

ul.navigation li a {
    padding: 5px;
    font-size: 10px;
    border-radius: 6px;
}

ul li a:hover, #locations a.highlight {
    background: #495966;
    color: #eee;
}

#article span.active {
    background: #748795;
    color: #eee;
}

#locations ul.navigation li a {
    background: #eee;
    color: #777;
}

#locations ul.tags li a {
    font-size: 16px;
    display: inline;
}

#locations ul.tags li {
    margin-bottom: 30px;

}

#locations ul.navigation li a:hover {
    background: #777;
    color: #eee;
}

#article .highlight {
    background: #383838;
    color: #eee;
    padding: 0 4px;
    border-radius: 4px;
    margin: 0 2px;
}
